pandas
numpy
matplotlib
scipy
seaborn
prefect
scikit-learn
gdown
ipython
dotenv
openai
pypdf
llama-index-core==0.14.10
llama-index-embeddings-openai
llama-index-vector-stores-postgres
llama-index-llms-openai
llama-index-readers-file
psycopg2-binary
smolagents
